:root{
    --primary-color: #B7CDD7;
    --secondary-color: #2B5D73;
    --bg-color: #FCFCFC;
    --shade-color: #88A7B5;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background: var(--bg-color);
}

a{
    text-decoration: none;
    color: inherit;
}