.footer{
    background: var(--primary-color);
    .footer_links{
        ul{
            display: grid;
            padding: 0;
            row-gap: 0.5rem;
            li{
                list-style: none;
                display: flex;
                align-items: center;
                column-gap: 1rem;
                i{
                    color: var(--bg-color);
                    font-size: 20px;
                }
            }
        }
    }
    form{
        .input_group{
            position: relative;
            padding: 0;
            input{
                width: 100%;
                padding: 10px;
                border: none;
                border-radius: 15px;
                &:focus{
                    outline: none;
                }
            }
            button{
                position: absolute;
                top: 0;
                right: 0;
                display: inline-block;
                font-weight: bold;
                padding: 10px 20px;
                border: none;
                border-radius: 15px;
            }
        }
    }
    .copyright{
        background: var(--shade-color);
    }
}