@media screen and (max-width: 1200px) {
    .why_us{
        .master_card{
            width: 500px;
        }
        .cards
        {   
            display: grid;
        }
    }
    .features_container{
        grid-template-columns: repeat(3,1fr);
    }
}

@media screen and (max-width: 992px) {
    .why_us{
        .master_card{
            width: 100%;
            margin: 10px 0;
        }
    }
    .features_container{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width: 768px) {
    header{
        position: relative;
        .nav_links
        {
            transform: translateY(-95px);
            transition: 0.3s ease;
            display: flex;
            justify-content: center;
            position: absolute;
            left: 0;
            width: 100%;
            &.nav_toggle
            {
                transform: translateY(95px);
            }
            ul{
                display: flex;
                flex-direction: column;
                padding: 20px;
                row-gap: 10px;
                align-items: flex-start;
                width: 300px;
                background: red;
                border-radius: 15px;
            }
    }
        .hambtn{
            display: block;
        }
    }
    .features_container{
        grid-template-columns: repeat(1,1fr);
        .cusBp{
            max-width: 100%;
        }
    }
}