.signup_form{
    background: white;
    display: grid;
    row-gap: 1rem;
    padding: 2rem;
    border-radius: 15px;
    .input_group
    {
        display: grid;
        row-gap: 0.5rem;
        max-width: 500px;
        width: 100%;
        margin: auto;
        input{
            border: none;
            background: var(--bg-color);
            padding: 5px;
            border-bottom: 2px solid var(--primary-color);
            &:focus{
                outline: none;
            }
        }
    }
}