.img_box{
    width: 400px;
    svg{
        display: block;
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}

.card{
    padding: 30px;
    height: 95%;
    .card_icon{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        margin-top: 10px;
        height: 50px;
        width: 50px;
        margin: auto;
        background: red;
        border-radius: 50%;
    }
}