.pre_loader {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.img_box{
    width: 400px;
    svg{
        display: block;
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}

.brand_color{
    color: var(--shade-color);
}

.card{
    padding: 30px;
    height: 95%;
    .card_icon{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        margin-top: 10px;
        height: 50px;
        width: 50px;
        margin: auto;
        background: red;
        border-radius: 50%;
    }
}

.btn{
    display: inline-block;
    background: var(--primary-color);
    border: none;
    &:hover{
        background: var(--secondary-color);
        color: var(--text-secondary);
    }
    &:focus{
        border: none;
    }
}