.why_us{
    .master_card{
        // height: 100%;
        width: 1200px;
        .card{
            margin: 0;
            color: var(--text-secondary);
            background: var(--secondary-color);
            display: grid;
            row-gap: 1rem;
            .btn{
                width: fit-content;
                margin: auto;
                display: flex;
                align-items: center;
                column-gap: 0.3rem;
                background: rgba(255, 255, 255, 0.2);
                transition: 0.3s ease;
                &:hover{
                    column-gap: 0.6rem;
                }
                i{
                    font-size: 1.2rem;
                }
            }
        }
    }
    .cards
    {
        .card{
            display: flex;
            justify-content: center;
            align-items: center;
            .card_body{
                display: flex;
                flex-direction: column;
                row-gap: 1rem;
                text-align: center;
            }
        }
    }
}